# IMPORTANT: The last matching entry has the highest precedence.

# The GIX team members who maintain this repo.
# Note: These users will receive GitHub notifications for PRs.
#       The list is kept short to avoid spamming the whole team.
#       If standard maintainers are not available, please contact GIX.
* @bitdivine

# The codebase is owned by the OISY team at DFINITY
# For questions, reach out to: <oisy-wallet@dfinity.org>
.github/CODEOWNERS @dfinity/oisy
